*, *:before, *:after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.bg-grey {
    background-color: #edf2f5;
}

.grey {
    color: #7E7E7E;
}

.grey > button {
    color: #7E7E7E;
}

.grey > td {
    color: #7E7E7E;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 25px;
    padding-right: 25px;
    max-width: 1150px;
    margin: 0 auto;
}

.expenses {
    margin-bottom: 28px;
}

.expenses__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    position: relative;
}

.express__header-buttons {
    display: flex;
    align-items: center;
}

.expenses__header-save {
    display: flex;
    align-items: center;
}

.expenses__header-save__links {
    display: flex;
    align-items: center;
}

.expenses__header-save__links-item {
    color: #8AB1C2;
    margin-right: 5px;
}

.expenses__header-save__links-item:last-child {
    margin-right: 0;
}

.expenses__header-save__title {
    margin-right: 5px;
}

.express__header-buttons > button > span {
    color: black;
}


.expenses__content {
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 25px;
}

.expenses__content-header {
    display: flex;
    align-items: center;
    padding-right: 15px;
    margin-bottom: 25px;
    padding-left: 15px;
}

.section-title {
    font-weight: bold;
    font-size: 25px;
}

.expenses__content-header__title {
    margin-right: 15px;
}

.expenses__content-header__links-item {
    color: #8AB1C2;
    padding: 3.5px;
}

.expenses__content-header__links-item.active {
    color: black;
    background-color: rgb(210,228,233);
}

.expenses__header-buttons-item {
    -webkit-box-shadow: 0px 6.5px 5px -4px rgba(135,128,135,0.52);
    -moz-box-shadow: 0px 6.5px 5px -4px rgba(135,128,135,0.52);
    box-shadow: 0px 6.5px 5px -4px rgba(135,128,135,0.52);
    background-color: #fff;
    padding: 6px 4px 6px 5px;
    cursor: pointer;
    z-index: 3;
}

button {
    border: 0;
    outline: 0;
    font-family: 'Roboto', sans-serif;
    margin-right: 7px;
}

span.colored-square {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 2.5px;
}

.expenses__content-legend > tbody > tr:first-child td {
    text-transform: uppercase;
}

.d-flex {
    display: flex;
    align-items: center;
}

.mr-8px {
    margin-right: 8px;
}

.expenses__content-legend {
    border-collapse: collapse;
    margin: 0 auto;
}

.expenses__content-legend > tbody td {
    border-right: 35px solid;
    border-color: transparent;
    font-size: 20px;
}

.express__header-buttons__selectors {
    display: flex;
    max-width: 360px;
    width: 100%;
    align-items: center;
    position: absolute;
    justify-content: space-between;
}

.budget {
    margin-bottom: 28px;
}

.budget__content {
    background: white;
    padding: 15px 15px 25px;
}

.percent-line {
    position: relative;
    border-radius: 5px;
    width: 100%;
}

.percent-line > div:first-child {
    position: absolute;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    top: 0;
    right: 0;
}

.budget__content-diagram {
    margin-top: 20px;
}

.budget__content-legend {
    display: flex;
    margin-top: 30px;
    align-items: center;
}

.budget__content-legend-item {
    margin-right: 25px;
}


.claim-statistic {
    margin-bottom: 28px;
}

.claim-statistic__content {
    background-color: #fff;
    padding: 15px 15px 25px;
}

.claim-statistic__content-legend {
    display: flex;
    margin-top: 25px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.claim-statistic__content-legend-item {
    width: 47.5%;
}

.claim-statistic__content-legend-item__bar {
    display: flex;
    align-items: center;
}

.claim-statistic__content-legend-item__bar-diagram {
    width: 50%;
    margin-right: 15px;
}

.claim-statistic__content-legend-item__bar > .grey {
    margin-right: 15px;
}

.lawyer-statistic {
    margin-bottom: 28px;
}

.lawyer-statistic__content {
    padding: 15px 15px 25px;
    background-color: #fff;
}

.statistic-table__col-title {
    text-transform: uppercase;
    font-size: 12px;
}

.statistic-table {
    margin-top: 15px;
    width: 100%;
    border-collapse: collapse;
}

.statistic-table tr {
    border-top: 10px solid transparent;
}

.statistic-table td {
    border-right: 10px solid transparent;
}

.statistic-table tr:first-child {
    border-top: 13px solid transparent;
}

.statistic-table > tbody {
    width: 100%;
}

.num-border {
    width: 100%;
    max-width: 115px;
}

.num-border__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.statistic-table__text-secondary {
    font-size: 15px;
}

.btn-load-more {
    background-color: transparent;
    color: #0080CC;
    display: block;
    width: 100%;
    border: 2px solid #67B3E0;
    padding: 1vh;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}


.region-statistic__content {
    background-color: #fff;
    padding: 15px 15px 25px;
}


@media (max-width: 990px) {
    .expenses__content-legend > tbody td {
        border-right: 7px solid;
        border-color: transparent;
    }
}

@media (max-width: 792px) {
    .expenses__content-legend > tbody {
        width: 940px !important;
        display: block;
    }

    .expenses__content-legend {
        width: 100%;
        display: block;
        border: 1px solid black;
        overflow-x: scroll;
    }

    .claim-statistic__content-legend-item {
        width: 100%;
        margin-top: 20px;
    }

    .claim-statistic__content-legend {
        justify-content: center;
    }

    .statistic-table > tbody {
        display: block !important;
        width: 700px !important;
    }

    .statistic-table {
        display: block;
        width: 100%;
        border: 1px solid black;
        overflow-x: scroll;
    }
}

@media (max-width: 660px) {
    .expenses__header {
        flex-direction: column;
    }

    .expenses__header-save {
        margin-top: 25px;
    }

    .budget__content-legend {
        flex-wrap: wrap;
        width: 100%;
    }

    .budget__content-legend-item {
        width: 50%;
        margin-right: 0;
        margin-bottom: 25px;
    }
}

@media (max-width: 550px) {
    .budget__content-legend {
        width: 70%;
        padding-left: 20%;
    }

    .budget__content-legend-item {
        width: 100%;
    }

    .budget__content-legend-item:last-child {
        margin-bottom: 0;
    }

    .claim-statistic__content-legend-item__bar {
        display: block;
        margin-top: 15px;
    }

    .claim-statistic__content-legend-item__bar-diagram {
        width: 100%;
    }
}

@media (max-width: 440px) {
    .expenses__content-chart > .chart-container {
        width: 390px !important;
        display: block;
    }

    .expenses__content-chart {
        width: 100%;
        display: block;
        overflow-x: scroll;
    }
    
    .expenses__content-header__links {
        display: flex;
        flex-direction: column;
    }
}
